/* just a sample css rule to show that everything works */
footer p
{
  font-size: small;
  text-align: center;
}

header{
  text-align: center;
}

header img{
  max-width: 100%;
	height: auto;
}

body {
	font-family: 'Fira Sans';
}

/*Carte*/
#region{
	width: 50vw;
	margin-left: 24vw;
	/*float: left;*/
	position: relative;
	top: -25.5vw;
}

#map_mayenne{
	width: 50vw;
	margin-left: 24vw;
	/*float: left;*/
	position: relative;
	top: -26vw;
}

#map_sarthe{
	width: 50vw;
	margin-left: 24vw;
	/*float: left;*/
	position: relative;
	top: -25.5vw;
}

#map_la{
	width: 50vw;
	margin-left: 24vw;
	/*float: left;*/
	position: relative;
	top: -25.5vw;
}

#map_mel{
	width: 50vw;
	margin-left: 24vw;
	/*float: left;*/
	position: relative;
	top: -26vw;
}

#map_vendee{
	width: 50vw;
	margin-left: 24vw;
	/*float: left;*/
	position: relative;
	top: -26vw;
}

.land{
	fill: #f2f2f2;
	stroke: #cccccc;
	stroke-width: 1.5px; 
	transition: fill 0.3s;
}

.land1{
	fill: #f2f2f2;
	stroke: #cccccc;
	stroke-width: 1.5px; 
	transition: fill 0.3s;
}

.land.is-active{
	fill: #00a9ff;
}
.land1.is-active{
	fill: #00a9ff;
}

/*Liste carte*/

.list_node{
	text-decoration: none;
	color: #00a9ff;
	font-size: 1.5vw;
	margin-top: 5vw;
}
.list_node.is-active{
	text-decoration: none;
	font-size: 2vw;
	font-style: bold;
}
.list_node1{
	text-decoration: none;
	color: #00a9ff;
	font-size: 1.5vw;
	margin-top: 1vw;
}
.list_node1.is-active{
	text-decoration: none;
	font-size: 2vw;
	font-style: bold;
}
#liste1{
	position: relative;
	top: -50vw;
	left: 75vw;
	list-style-type:none;
	width: 25vw;
}
#liste2{
	position: relative;
	top: -50vw;
	left: 75vw;
	list-style-type:none;
	width: 25vw;
}
#liste3{
	position: relative;
	top: -50vw;
	left: 75vw;
	list-style-type:none;
	width: 25vw;
}
#liste4{
	position: relative;
	top: -50vw;
	left: 75vw;
	list-style-type:none;
	width: 25vw;
}
#liste5{
	position: relative;
	top: -50vw;
	left: 75vw;
	list-style-type:none;
	width: 25vw;
}
#liste6{
	position: relative;
	top: -50vw;
	left: 75vw;
	list-style-type:none;
	width: 25vw;
}

/*Titre*/
.titre_section{
	margin-left: 35vw;
	font-size: 2vw;
	position: relative;
	top: 1vw;
}

#titre_region{
	margin-left: 40vw;
	margin-bottom: 0%;
	font-size: 2vw;
}

.titre_slide{
	color: white;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.6vw;
	position: relative;
	top: -12.5vw;
  	line-height: 1.5vw;
  	text-align: center;
}

.sous_titre{
	margin-left: 14vw;
	margin-top: 1vw;
	font-size: 1vw;
	font-family: : fira-sans;
	position: relative;
  	top: -11vw; 
}
.exp1{
	font-family: : 'Roboto';
	position: relative;
	left: 10vw;
	top: -4vw;
	color: #00a9ff;
	font-size: 1.1vw;
}
.exp3{
	font-family: : 'Roboto';
	position: relative;
	color: #00a9ff;
	left: 10vw;
	top: -7vw;
	font-size: 1.1vw;
}
.exp2{
	font-family: : 'Roboto';
	position: relative;
	left: 10vw;
	top: -4vw;
	font-size: 1.5vw;
}


.exp1_s{
	font-family: : 'Roboto';
	position: relative;
	left: 8vw;
	top: -21vw;
	color: #00a9ff;
	font-size: 1.1vw;
}
.exp2_s{
	font-family: : 'Roboto';
	position: relative;
	color: #00a9ff;
	left: 8vw;
	top: -24vw;
	font-size: 1.1vw;
}
.exp3_s{
	font-family: : 'Roboto';
	position: relative;
	color: #00a9ff;
	left: 8vw;
	top: -24vw;
	font-size: 1.1vw;
}
.img_excl_s{
	width: 2vw;
	position: relative;
	left: 4.5vw;
	top: -20.2vw;
}


/*lien et images*/
.lien{
	text-decoration: none;
	color: black;
}
.lien_cand{
	text-decoration: none;
	color: black;
}
.img_id{
	/*width:50px;
	height:30px;*/
	position: relative;
	top: -7.3vw;
	margin-left: 5vw;
	width: 16.91vw;
}
.chartsection{
	/*visibility: hidden;*/
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw !important;
    height: 15vw !important;
    position: relative;
    left: 10vw;
  	top: -8.7vw;
  	z-index: 1;
}

.fil_dar{
	display: inline-block;
	position: relative;
	top: -12vw;
	left: 3vw;
    font-size: 1vw;
    
}
.fil_dar_carte{
	display: inline-block;
	position: relative;
	top: -5vw;
	left: -18vw;
    font-size: 1vw;
    
}
.retour_reg{
	text-decoration: none;
	color: #2f2f2f;
	
	font-weight: lighter;
}
.retour_dep{
	text-decoration: none;
	color: #2f2f2f;
	
	font-weight: lighter;
}
.retour_cir{
	color: #2f2f2f;
	
	text-decoration: none;
	font-weight: bold;
}
.entete{
	position: relative;
	/*float: left;*/
}
.img_sect{
	position: relative;
	top: -16.2vw;
	left: 5vw;
	width: 17vw;
}
.img_logo1{
	position: relative;
	top: -13.5vw;
	left: 62vw;
	width: 7vw;
}
.img_logo2{
	position: relative;
	top: -4vw;
	left: 62vw;
	width: 7vw;
}
.img_logo3{
	position: relative;
	top: -13vw;
	left: 66.8vw;
	width: 7vw;
}
.img_entete1{
	width:2.5vw;
	position: relative;
	top: 2vw;
	left: 24vw;
}
.img_entete2{
	width:3.5vw;
	position: relative;
	top: -0.8vw;
	left: 39vw;
}
.img_entete3{
	width:3.5vw;
	position: relative;
	top: -4.3vw;
	left: 54.5vw;
}
.img_entete4{
	width:3.5vw;
	position: relative;
	top: -8.2vw;
	left: 70.3vw;
}
.img1{
	width: 1.5vw;
	position: relative;
	top: -6.5vw;
	left: 15.3vw;
}
.img2{
	width: 1.5vw;
	position: relative;
	top: -10.45vw;
	left: 34.8vw;
}
.img3{
	width: 1.5vw;
	position: relative;
	top: -15.2vw;
	left: 50.8vw;
}
.img4{
	width: 1.5vw;
	position: relative;
	top: -19.85vw;
	left: 66vw;
}
.msg1{
	font-size: 0.7vw;
	position: relative;
	top: -8.5vw;
	left:21vw;
}
.msg2{
	font-size: 0.7vw;
	position: relative;
	top: -12.8vw;
	left:36.8vw;
}
.msg3{
	font-size: 0.7vw;
	position: relative;
	top: -17.7vw;
	left:52.8vw;
}
.msg4{
	font-size: 0.7vw;
	position: relative;
	top: -22.4vw;
	left:68vw;
}
.img_excl{
	width: 2vw;
	position: relative;
	left: 6.7vw;
	top: -3.4vw;
}



/*Gestion des annéess*/
 .a1{
  	border: 0.2vw black solid;
  	opacity: 1.5;
  	font-weight: bold;
  }
 .a2{
  	border: 0.2vw black solid;
  	opacity: 1.5;
  	font-weight: bold;
  }
.a3{
  	border: 0.2vw black solid;
  	opacity: 1.5;
  	font-weight: bold;
  }
 .a4{
  	border: 0.2vw black solid;
  	opacity: 1.5;
  	font-weight: bold;
  }
 .a5{
  	border: 0.2vw black solid;
  	opacity: 1.5;
  	font-weight: bold;
  }
 .a6{
  	border: 0.2vw black solid;
  	opacity: 1.5;
  	font-weight: bold;
  }
 .a7{
  	border: 0.2vw black solid;
  	opacity: 1.5;
  	font-weight: bold;
  }

.annee{
	/*padding-top: 0.5vw;*/
	color: white;
	display: inline-block;
	text-align: center;
	line-height: 1.6vw;
	font-size: 1.1vw;
	/*font-weight: bold;*/
  	border-radius: 4px;
  	width: 7vw;
  	height: 1.6vw;
  	position: relative;
  	top: -10vw;
}

.annee1{
	margin-left: 9vw;
}

.centre{
	background-color: #fec240;
}

.inconnu{
	background-color: #bcbfbf;
}

.gauche{
	background-color: #e90773;
}

.droite{
	background-color: #007af1;
}

.vert{
	background-color: #0fc125;
}

.extreme_gauche {
	background-color: #e9143c;
}

.extreme_droite {
	background-color: #0016e8;
}


/*Element de décor*/
.carre{
	background-color: #2f2f2f;
	height: 6vw;
	width: 100vw;
	margin-left: auto;
	margin-right: auto;
}
.carre2{
	background-color: #f2f2f2;
	height: 9vw;
	width: 100vw;
	margin-left: auto;
	margin-right: auto;
}

.trait{
	background-color: #00a9ff;
	height: 0.25vw;
	width: 15.5vw;
	margin-left: 14vw;
	border-radius: 40vw;
	position: relative;
  	top: -12vw;
}
.trait2{
	background-color: #00a9ff;
	height: 0.35vw;
	width: 3vw;
	margin-left: 10vw;
	border-radius: 40vw;
	position: relative;
  	top: -5.2vw;
}
.trait_tete1{
	background-color: #cccccc;
	height: 0.15vw;
	width: 12vw;
	position: relative;
	top: 0.8vw;
	left: 26.5vw;
}
.trait_tete2{
	background-color: #cccccc;
	height: 0.15vw;
	width: 12vw;
	position: relative;
	top: -2vw;
	left: 42.5vw;
}
.trait_tete3{
	background-color: #cccccc;
	height: 0.15vw;
	width: 12vw;
	position: relative;
	top: -5.4vw;
	left: 57.9vw;
}


/* 
 .fond_cand{
  	background-color: #cccccc;
  	width: 100vw;
  	height: 17vw;
  	position: relative;
  	top: -5vw;
  }
*/


.rond{
 	
 	background-color: #cccccc;
  	border-radius: 50vw;
 	height: 2vw;
  	width: 2vw;
  	line-height: 2vw;
  	font-size: 0.3vw;
  	position: relative;
  	top: 2vw;
    
    
  }

.cand{   
  text-align: center;
  text-transform: capitalize; 
  margin-top: 1vw;
  margin-bottom: 1.1vw;
  position: relative;
  top: 1vw; 
}


.b_gauche{
  	border: 0.2vw #f03134 solid;
 }

.b_centre{
	border: 0.2vw #F8670D solid;
}

.b_inconnu{
	border: 0.2vw #bcbfbf solid;
}

.b_droite{
	border: 0.2vw #1840af solid;
}

.b_vert{
	border: 0.2vw #1e5018 solid;
}

.b_extreme_gauche{
	border: 0.2vw #1e5018 solid;
}

.b_extreme-droite{
	border: 0.2vw #1e5018 solid;
}

/*
 .premier{
  	background-color: yellow;
  }
 .deuxieme{
  	background-color: grey;
  }
*/

/* ------- CV ------- */


.close{
	position: relative;
	float: right;
    width: 5vw;
    
}

#imgC {
    position: relative;
    width: 9vw;
    left: 10vw;
    top: 2vw;
    border: solid;
    border-radius: 50%;
}

#prenomC {
    position: relative;
    font-weight: bold;
    font-size: 1.5vw;
    left: 21vw;
    top: -7vw;
    text-transform: capitalize;
    max-width: 20vw;

}


#NomC {
    position: relative;
    left: 21vw;
    top: -8.7vw;
    font-size: 1.5vw;
    text-transform: capitalize;
    font-weight: bold;
    max-width: 20vw;
}

#EtiquetteC{
    position: relative;
    text-transform: capitalize;
    left: 21vw;
    top: -10.5vw;
    font-size: 1.5vw;
    font-weight: bold;
}



#AgeC{
    position: relative;
    left: 21.1vw;
    top : -12.3vw;
    min-height: 1.5vw;
    font-size: 1.5vw;
    max-width: 15vw;
}



#twitterC{
    position: relative;
    top: -20.5vw;
    left: 50vw;
}

#twitterC img{
    width: 3vw;
}

#facebookC{
    position: relative;
    top: -20.5vw;
    left: 51vw; 
}

#facebookC img{
    width: 3.2vw;
}

#urlC{
    position: relative;
    top: -17vw;
    left: 57vw;
}

#presentationC{
    max-width: 45vw;
    position: relative;
    top: -14vw;
    left: 25vw;
    text-align: left;
}

#presentationParti{
    position: relative;
    max-width: 45vw;
    left: 25vw;
    top: -13vw
}
#nbrPrestCr{
    text-align: center;
    position: relative;
    max-width: 25vw;
    top: -10.5vw;
    left: 20vw;
    border-right: solid;
    border-right-width: thin;
    
}
#nbrPrestCr::first-line{  
    font-size:5vw;
    font-weight: bolder;
}

#nrbEluC{
    text-align: center;
    position: relative;
    top: -19vw;
    /*top: -8.6vw;*/
    max-width: 25vw;
    left: 45vw;
}

#nrbEluC::first-line{
    font-weight: bolder;
    font-size: 5vw;
}
#podC{
	position: relative;
	top: -13.7vw;
	left:50vw;
}
#legC{
	position: relative;
	top: -11vw;
	left:25vw;
	font-size: 1.2vw;
	font-weight: bold;
}

.img_rec_may{
	position: relative;
	top: -45vw;
	left: 5vw;
}	
.text_ville_may{
	position: relative;
	top: -49vw;
	left: 9vw;
	font-weight: bold;
}
.img_rec_sa{
	position: relative;
	top: -50vw;
	left: 4vw;
}	
.text_ville_sa{
	position: relative;
	top: -54vw;
	left: 8vw;
	font-weight: bold;
}
.img_rec_la{
	position: relative;
	top: -58vw;
	left: 6vw;
}	
.text_ville_la{
	position: relative;
	top: -61.5vw;
	left: 10vw;
	font-weight: bold;
}
.img_rec_mel{
	position: relative;
	top: -53vw;
	left: 6vw;
}	
.text_ville_mel{
	position: relative;
	top: -57vw;
	left: 10vw;
	font-weight: bold;
}
.img_rec_ven{
	position: relative;
	top: -50vw;
	left: 6vw;
}	
.text_ville_ven{
	position: relative;
	top: -54vw;
	left: 10vw;
	font-weight: bold;
}