/* just a sample css rule to show that everything works */
footer p
{
  font-size: small;
  text-align: center;
}

header{
  text-align: center;
}

header img{
  max-width: 100%;
	height: auto;
}

body {
	font-family: 'Fira Sans'
}

/*Carte*/
#region{
	width: 60vw;
	margin-left: 15vw;
	/*float: left;*/
	position: relative;
	top: -18vw;
}

#map_mayenne{
	width: 60vw;
	margin-left: 15vw;
	/*float: left;*/
	position: relative;
	top: -17vw;
}

#map_sarthe{
	width: 60vw;
	margin-left: 15vw;
	/*float: left;*/
	position: relative;
	top: -17vw;
}

#map_la{
	width: 60vw;
	margin-left: 15vw;
	/*float: left;*/
	position: relative;
	top: -18vw;
}

#map_mel{
	width: 60vw;
	margin-left: 20vw;
	/*float: left;*/
	position: relative;
	top: -16vw;
}

#map_vendee{
	width: 60vw;
	margin-left: 15vw;
	/*float: left;*/
	position: relative;
	top: -14vw;
}

.land{
	fill: #fff;
	stroke: #bcbfbf;
	stroke-width: 1.5px; 
	transition: fill 0.3s;
}

.land1{
	fill: #fff;
	stroke: #bcbfbf;
	stroke-width: 1.5px; 
	transition: fill 0.3s;
}

.land.is-active{
	fill: #005afb;
}
.land1.is-active{
	fill: #005afb;
}

/*Liste carte*/

.list_node{
	text-decoration: none;
	color: #00a9ff;
	font-size: 1.5vw;
	margin-top: 1vw;
}
.list_node.is-active{
	text-decoration: none;
	color: #005afb;
}
.list_node1{
	text-decoration: none;
	color: #00a9ff;
	font-size: 1.5vw;
	margin-top: 1vw;
}
.list_node1.is-active{
	text-decoration: none;
	color: #005afb;
}
#liste1{
	position: relative;
	top: -46.3vw;
	left: 75vw;
	list-style-type:none;
	width: 25vw;
}
#liste2{
	position: relative;
	top: -45vw;
	left: 75vw;
	list-style-type:none;
	width: 25vw;
}
#liste3{
	position: relative;
	top: -45vw;
	left: 75vw;
	list-style-type:none;
	width: 25vw;
}
#liste4{
	position: relative;
	top: -45vw;
	left: 75vw;
	list-style-type:none;
	width: 25vw;
}
#liste5{
	position: relative;
	top: -45vw;
	left: 75vw;
	list-style-type:none;
	width: 25vw;
}
#liste6{
	position: relative;
	top: -45vw;
	left: 75vw;
	list-style-type:none;
	width: 25vw;
}

/*Titre*/
.titre_section{
	margin-left: 35vw;
	font-size: 2vw;
	position: relative;
	top: 1vw;
}

#titre_region{
	margin-left: 40vw;
	margin-bottom: 0%;
	font-size: 2vw;
}

.titre_slide{
	color: white;
	margin-left: auto;
	margin-right: auto;
	font-size: 2vw;
	position: relative;
	top: -10vw;
  	line-height: 1.5vw;
  	text-align: center;
}

.sous_titre{
	margin-left: 14vw;
	margin-top: 1vw;
	font-size: 1vw;
	font-family: : fira-sans;
	position: relative;
  	top: -8vw; 
}
.exp1{
	position: relative;
	left: 10vw;
	top: -5vw;
	color: #00a9ff;
	font-size: 1vw;
}
.exp2{
	position: relative;
	left: 10vw;
	top: -5vw;
	font-size: 1.2vw;
}
.exp3{
	position: relative;
	left: 10vw;
	top: -5vw;
	font-size: 1.2vw;
}




/*lien et images*/
.lien{
	text-decoration: none;
	color: black;
}

.img_id{
	/*width:50px;
	height:30px;*/
	position: relative;
	top: -5vw;
	margin-left: 7vw;
	width: 15vw;
}

.treemap{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    position: relative;
  	top: -9vw;
}

.fil_dar{
	display: inline-block;
	position: relative;
	top: -11vw;
	left: 3vw;
}
.retour_reg{
	text-decoration: none;
	color: black;
	font-size: 1vw;
}
.retour_dep{
	text-decoration: none;
	color: black;
	font-size: 1vw;
}
.retour_cir{
	color: black;
	font-size: 1vw;
}
.entete{
	position: relative;
	/*float: left;*/
}
.img_sect{
	position: relative;
	top: -8vw;
	left: 5vw;
	width: 17vw;
}
.img_logo1{
	position: relative;
	top: -5vw;
	left: 59vw;
	width: 8vw;
}

/*Gestion des annéess*/
 .a1{
  	border: 0.2vw black solid;
  	opacity: 1.5;
  }
 .a2{
  	border: 0.2vw black solid;
  	opacity: 1.5;
  }
.a3{
  	border: 0.2vw black solid;
  	opacity: 1.5;
  }
 .a4{
  	border: 0.2vw black solid;
  	opacity: 1.5;
  }
 .a5{
  	border: 0.2vw black solid;
  	opacity: 1.5;
  }
 .a6{
  	border: 0.2vw black solid;
  	opacity: 1.5;
  }
 .a7{
  	border: 0.2vw black solid;
  	opacity: 1.5;
  }

.annee{
	padding-top: 0.5vw;
	color: white;
	display: inline-block;
	text-align: center;
	line-height: 1.5vw;
	font-size: 1.3vw;
	font-weight: bold;
  	border-radius: 4px;
  	width: 7vw;
  	height: 2vw;
  	position: relative;
  	top: -9vw;
}

.annee1{
	margin-left: 13vw;
}

.centre{
	background-color: #fec240;
}

.inconnu{
	background-color: #bcbfbf;
}

.gauche{
	background-color: #e90773;
}

.droite{
	background-color: #007af1;
}

.vert{
	background-color: #0fc125;
}

.extreme_gauche {
	background-color: #e9143c;
}

.extreme_droite {
	background-color: #0016e8;
}


/*Element de décor*/
.carre{
	background-color: #00a9ff;
	height: 6vw;
	width: 100vw;
	margin-left: auto;
	margin-right: auto;
}

.trait{
	background-color: #00a9ff;;
	height: 0.25vw;
	width: 15vw;
	margin-left: 14vw;
	border-radius: 40vw;
	position: relative;
  	top: -8.5vw;
}
.trait2{
	background-color: #00a9ff;;
	height: 0.35vw;
	width: 3vw;
	margin-left: 10vw;
	border-radius: 40vw;
	position: relative;
  	top: -5vw;
}

/* 
 .fond_cand{
  	background-color: #cccccc;
  	width: 100vw;
  	height: 17vw;
  	position: relative;
  	top: -5vw;
  }
*/


.rond{
 	display: block;
  	background: white;
  	border: 5px black solid;
  	border-radius: 50vw;
 	height: 5.5vw;
  	width: 5.5vw;
  	line-height: 5.5vw;
  	text-align: center;
  	display: inline-block;
  	font-size: 0.3vw;
  	position: relative;
  	top: -8.5vw;
  }

  .rond.rond4{
  	margin-left: 15vw;
  	margin-top: 1vw;
  }

 .rond.rond7{
  	margin-left: 15vw;
  	margin-top: 1vw;
  }

  .rond.rond8{
  	margin-left: 15vw;
  	margin-top: 1vw;
  }

   .rond.rond10{
  	margin-left: 12vw;
  	margin-top: 1vw;
  }

  .rond.rond12{
  	margin-left: 9vw;
  	margin-top: 1vw;
  }

  .rond.rond14{
  	margin-left: 8vw;
  	margin-top: 1vw;
  }


.b_gauche{
  	border: 0.2vw #f03134 solid;
 }

.b_centre{
	border: 0.2vw #F8670D solid;
}

.b_inconnu{
	border: 0.2vw #bcbfbf solid;
}

.b_droite{
	border: 0.2vw #1840af solid;
}

.b_vert{
	border: 0.2vw #1e5018 solid;
}

.b_extreme_gauche{
	border: 0.2vw #1e5018 solid;
}

.b_extreme-droite{
	border: 0.2vw #1e5018 solid;
}

/*
 .premier{
  	background-color: yellow;
  }
 .deuxieme{
  	background-color: grey;
  }
*/